{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

         <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home" class="selected"><a href="#">Home</a></li>
                <li id="nav-demand"><a href="demand">Demand log</a></li>
                <li id="nav-unassigned"><a href="assigned">Assigned</a></li>
                <li id="nav-assigned"><a href="unassigned">Unassigned</a></li>
                <li id="nav-reports"><a href="#">Reports</a></li>
              </ul>
          </div>


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread">Home&nbsp;></p> 

            <h1 class="heading-large" style="margin-left: 15px;">Log-in successful</h1>             
               <h2 style="margin-left: 15px;">Please choose from the following options:</h2>


 <!-- 3rd level nav buttons -->
     <!--       <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                <div class="grid grid-1-15">
                  <div class="inner-block left">
                    <a id="view_record" href="demand" class="menu-item selected">
                      <strong>Demand log</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-15">
                  <div class="inner-block left">
                    <a id="edit_record" href="#" class="menu-item">
                      <strong>Assigned</strong>
                    </a>
                  </div>
                </div>

              <div class="grid grid-1-15">
                  <div class="inner-block left">
                    <a id="appointments" href="#" class="menu-item">
                      <strong>Unassigned</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-15">
                  <div class="inner-block left">
                    <a id="closure" href="#" class="menu-item">
                      <strong>Reports</strong>
                    </a>
                  </div>
                </div>


             </div>  -->

                            <div class="column-half"> 

                              <h2 class="mainbox"><a href="demand" style="text-decoration:none;">Demand log</a></h2>

                              <h2 class="mainbox"><a href="assigned" style="text-decoration:none;">Assigned</a></h2>

                            </div>



            <div class="column-half">

                    <div id="my-div">
                        <h2 class="mainbox"><a href="unassigned" style="text-decoration:none;">Unassigned</a></h2>
                    </div>

                        <h2 class="mainbox"><a href="#" style="text-decoration:none;">Reports</a></h2>


                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

            </div>




            </div>     
            <!-- End 1/2 col -->
         
      </div>
      <!-- End 3/4 col -->


    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

